<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CS6232_G2_Furniture_Rental.Properties.Settings.cs6232_g2ConnectionString"
            connectionString="Data Source=desktop-o83ucuh;Initial Catalog=cs6232-g2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>